video {
    margin: 10% 0% 0%;
    object-fit: cover;
    width: 100vw;
    height: 65vh;
    position: fixed;
    top: 0;
    left: 0;
  }

  .explore {
    display: inline-block;
    margin-right: 30px;}
  .home{
    display: inline-block;
  }
  .forum{
    display: inline-block;
    margin-right: 30px;
  }
  .about{
    font-family: 'Amatic SC', cursive;
    text-align: right;
    margin: 0;
    padding-right: 60px;
    padding-top: 5px;
    font-size: large;
  }
  a{
    text-decoration: none;
    color: black;
  }
  a:hover{
    color: #16888b;
  }
  .viewport-header {
    position:relative;
    top: 10%;
    margin-top: 250px;
    /* height: 100vh; */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .title {
    font-family: 'Amatic SC', cursive;
    color: black;
    letter-spacing: 2vw;
    font-size: 3.5vw;
    text-align: center;
    margin: 0;
  }

 
  .btn-group{
    width: 70%; 
    margin-bottom: 80px;
  } 
  .btn {
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    letter-spacing: 0.5vw;
    color: #ffffff;
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
    padding: 10px 20px 10px 20px;
    border: solid #292329 2px;
    text-decoration:solid;
    background: transparent;
  }
  
  .btn:hover {
    text-decoration: none;
    font-size: 30px;
    background: transparent;
  }
  .dropdown-menu{
    margin: 0 25%;
    width: 50%; 
    background: transparent;
    text-align: center;
    text-decoration: #ffffff;
    border:transparent;
  }
  .dropdown-item{
    color: #ffffff;
  }
  .footer{
    padding-top: 30px;
    text-align: center;
    font-size: 10px;
    height: fit-content;
    width: 30%;
    margin: 0% 33%;
    line-height: 10px;
  }
  
  .carousel-item{
    width: 70%;
    margin-left: 15%;
  }
  
  .carousel-control-prev{
    margin-left: 15%;
  }
  
  .carousel-control-next{
    margin-right: 15%;
  }

.rasp{
  height: 80px;
}
.authors{
  margin: 5px;
}

/* England */

.btn-others{
  color: #ffffff;
}
.engborder{
  border:dotted #2b2c2c 6px;
  border-bottom: none;
  width: 5%;
  margin: 5% 47% 5%; 
}
.btnall {
  background: #cc5c7e;
  background-image: -webkit-linear-gradient(top, #cc5c7e, #c2365e);
  background-image: -moz-linear-gradient(top, #cc5c7e, #c2365e);
  background-image: -ms-linear-gradient(top, #cc5c7e, #c2365e);
  background-image: -o-linear-gradient(top, #cc5c7e, #c2365e);
  background-image: linear-gradient(to bottom, #cc5c7e, #c2365e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 14px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: #ffffff;
  margin: 30px 0px 10px;
  position: relative;
  bottom: 20px;
}

.btnall:hover {
  background: #c7758a;
  background-image: -webkit-linear-gradient(top, #c7758a, #d9346b);
  background-image: -moz-linear-gradient(top, #c7758a, #d9346b);
  background-image: -ms-linear-gradient(top, #c7758a, #d9346b);
  background-image: -o-linear-gradient(top, #c7758a, #d9346b);
  background-image: linear-gradient(to bottom, #c7758a, #d9346b);
  text-decoration: none;
}

/*  in England*/

/* work and study */

.blocksworkstudy{
width: 90%; 
margin: 0 8%;
border: 10px solid transparent;
border-image: linear-gradient(to left, transparent 0%, #c24d4d 100%);
border-image-slice: 1;
display: block;
}

.engdescr{
  font-family: 'Alegreya', serif;
  padding-top: 20px;
  position: relative;
}

.engfoto{
  width: 300px;
  padding: 15px 0 ;
  margin-top: 10px;
}

li{
  list-style-type: square;
}


/* flats and shops */

.blocksflatshops{
  width: 90%; 
  margin: 0 8%;
  border: 10px solid transparent;
  border-image: linear-gradient(to right, transparent 0%, #c24d4d 100%);
  border-image-slice: 1;
  display: block;
  }

  /* Great Britain */

  .firstblock{
    margin-top: 50px;
    margin-bottom: 20px;
  }

  .back-gb-image{
    background:url('../pictures/uk.png') ;
  }

  .uk-titles{
    font-family: 'Amatic SC', cursive;
    color: black;
    font-weight: bold;
  }

  .uk-text{
    font-family: 'Alegreya', serif;
  }

  .drop-weather{
    margin-left: 380px;
  }
  .weather-1{
    font-family: 'Alegreya', serif;
    margin-top: 20px; 
  }

  .weather-2{
    height: 300px;
    width: 500px;
    background-color: #3a9b96;
    color: #ffffff;
    margin-left: 340px;
  }
  .weather-drop{
    margin-bottom: 10px;
  }

  .weather-3{
    display: inline-block;
  }

  .imgweather{
    border-radius: 10%;
  }
  .food1{
    display: inline-block;
  }
  .food2{
    display: inline-block;
  }
  .food3{
    display: inline-block;
    margin-top: 10px;
  }
  .food4{
    display: inline-block;
    margin-top: 10px;
  }
  .imgfood1{
    border-radius: 10%;
  }
  .imgfood2{
    border-radius: 10%;
  }
  .imgfood3{
    border-radius: 10%;
  }
  .imgfood4{
    border-radius: 10%;
  }

  .thirdblock{
    margin-top: 20px;
  }

  .religion{
    display: inline-block;
  }
  .imgreligion{
    border-radius: 10%;
    height: 370px;
  }

  .transport{
    margin-top: 20px;
  }

  .alltransport{
    padding: 0;
    margin:0;
  }
  .transport-1{
    display:inline-block;
    width: 250px;
    text-align: center; 
  }
  
  h5{
    color: #d63333;
  }

  .imgtransport{
    padding-top: 20px;
    width:240px;
    height:190px;
    border-radius: 10%;
  }


  /* Universities */

 .uni-title{
  text-align: left;
  letter-spacing: 1vw;
  margin-left: 70px;
}
.unies{
  margin-top: 100px;
  margin-left: 70px;
  padding: 0%;
}


/* Stores */



.stores-title{
  text-align: left;
  letter-spacing: 1vw;
  margin-left: 70px;
  margin-top: 70px;
  color: green;
  border-color: green;
  border-width: 2px;
  border-style: dashed;
  padding: 5px;
  width: fit-content;
}

.title-stores{
  margin: 0;
}

.stores{
  margin-top:50px;
  margin-left: 70px;
  padding: 0;
}

.block-shops{
  margin-right: 57px;
  text-align: center;
}

.block-coop{
margin-right: 20px;
text-align: center;
}

.groceries-2{
  margin-top: 30px;
}

.storesborder{
    border: dashed #e71341 4px;
    border-bottom: none;
    width: 90%;
    margin: 5% 5%;  
}

.scand{
  padding-left: 20px;
  padding-top: 25px;
}

.menu{
  display: inline-block;
  width: fit-content;
  font-size: 10px;
  color: rgb(219, 51, 73);
  border-color: rgb(219, 51, 73);
  border-width: 2px;
  border-style: dashed;
  letter-spacing: 0.5vw;
  margin-left: 110px;
}


/* Studies */

.studyfeatures{
  display: inline-block;
  text-align: left;
  font-size: 20px;
  color: rgb(82, 51, 219);
  border-color: rgb(219, 51, 73);
  border-width: 2px;
  margin-right: 20px;
}
.studyfeatures-p{
  text-align: center;
  color: #292329;
  font-size: 15px;
}

.study{
  margin-top: 20px;
  border-width: 2px;
  border-color: #9da5a5;
  border-radius: 10%;
  border-style: dotted;
}

.unipicsscotland{
  margin: auto;
 text-align: center;
}


  @media screen and (max-width: 750px){
    .title {
      padding-top: 0px;
      margin: 0;
      font-size: small;
    }
    .about{
      padding-top: 0px;
      font-size: smaller;
    }
  }