{% extends 'main/layout.html' %}
{% load static %}

{% block title %}England {% endblock %}

{% block content %}
   
<div class="title">
    <h1 class = 'title'>
        EnGlAnD
   </h1>  
</div>


<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'main/pictures/england2.jpg' %}" alt="pictureEng" class="d-block w-100" height="500px">
      </div>
      <div class="carousel-item">
        <img src="{% static 'main/pictures/england1.jpg' %}" alt="pictureEng" class="d-block w-100" height="500px">
      </div>
      <div class="carousel-item">
        <img src="{% static 'main/pictures/england3.jpeg' %}" alt="pictureEng" class="d-block w-100"  height="500px">
      </div>
    </div>
    <a class="carousel-control-prev" role="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <!-- <span class="visually-hidden">Previous</span> -->
    </a>
    <a class="carousel-control-next" role="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <!-- <span class="visually-hidden">Next</span> -->
    </a>
  </div>

  
   <hr class="engborder">
<!-- Study and work -->
  <div class="container text-center blocksworkstudy">
    <div class="row justify-content-md-center ">
      <div class="col engdescr">
        <p>
        Getting your head around the UK job market is the first step you should take when searching for new employment. 
        The UK is one of the strongest economies in the world and therefore attracts large numbers of ambitious minds to its workforce.</p>
        <button class="btnall">Jobs in England</button> 
      </div>
      <div class="col" >
        <img src="{% static 'main/pictures/engwork.jpeg' %}" alt="work in England" height="300px" class="engfoto">
      </div>
      <div class="col" >
        <img src="{% static 'main/pictures/engstudy.jpeg' %}" alt="study in England" height="300px" class="engfoto">
      </div>
      <div class="col engdescr">
        <p>
        The best possible you, made possible in the UK:
        <ul>
          <li >World-ranked universities</li>
          <li >Innovative teaching</li>
          <li >Unforgettable student experience</li>
          <li >Post-study work opportunities</li>      
        </ul> </p>
        <button class="btnall"> <a href="{% url 'England/study' %}" class="btn-others"> Study in England </a> </button> 
      </div> 
    </div>
   </div>

   <br>
   <!-- Properties for rent and storages -->
   <div class="container text-center blocksflatshops">
    <div class="row justify-content-md-center ">
      
      <div class="col engdescr">
        <p>
        RENTING a house in the UK is often the first step for those moving to the country - with a range of options in house size, 
        contract length and even finding properties with furniture included. 
        But is it expensive to rent a house in the UK?</p>
        <button class="btnall">Rent in England</button> 
      </div>
      <div class="col" >
        <img src="{% static 'main/pictures/engflat.jpeg' %}" alt="flats in England" height="300px" class="engfoto">
      </div>

      <div class="col" >
        <img src="{% static 'main/pictures/engstores.jpeg' %}" alt="stores in England" height="300px" class="engfoto">
      </div>
      <div class="col engdescr">
        <p>Enjoying the taste of life in the UK? 
          Going to the grocery store will probably be one of the first things you do when you move to the UK. 
          Find out how to bring those flavors home with our guide to supermarkets and 
          grocery stores in the country.</p>
        <button class="btnall"><a href="{% url 'Shopping' %}" class="btn-others"> Shop in England </a></button> 
      </div> 
    </div>
   </div>
      <br>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
      {% endblock %}