{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Study in England {% endblock %}

{% block content %}
   
<div class="title">
    <h1 class = 'title uni-title' >
        Top universities in England
   </h1>  
</div>

<div class="container unies ">
    <div class="row study">
        <div class="col-md-4 unipicsscotland">
        <img src="{% static 'main/pictures/cambridge.jpg' %}" alt="University of Cambridge" width="290px" height="200px" >
        </div>
        <div class="col">
            <h3 > <a href="https://www.cam.ac.uk/">University of Cambridge</a> </h3>
            <p>Cambridge, England</p>
            <p>The University of Cambridge is the second of the seven "ancient universities" after Oxford. 
                Cambridge is one of the leaders in reputable international rankings,
                along with Harvard and Stanford Universities, both in terms of 
                general indicators and according to individual criteria and programs. Students from more than 
                140 countries study here. </p>
            <div class="studyfeatures">Tuition Fee
                <p class="studyfeatures-p">£ 37,200</p>
            </div>
            <div class="studyfeatures">International Students
                <p class="studyfeatures-p">40 %</p>
            </div>
            <div class="studyfeatures">Status
                <p class="studyfeatures-p">public</p>
            </div>
        </div>
    </div>
    <div class="row study">
        <div class="col-md-4 unipicsscotland">
        <img src="{% static 'main/pictures/oxford.jpg' %}" alt="University of Oxford" width="290px" height="180px" >
        </div>
        <div class="col">
            <h3 > <a href="https://www.ox.ac.uk/">University of Oxford</a> </h3>
            <p>Oxford, England</p>
            <p>The University of Oxford is one of the most prestigious universities in the world, 
                located in the South East of England. Oxford University is one of the seven "ancient 
                universities" of Great Britain and Ireland and is considered the very first university 
                of the British Isles. Oxford is a part of The Russell Group, which consists of 24 of the best 
                universities in England. Today, the University of Oxford ranks first in the world according 
                to the Times Higher Education(THE) international ranking and it is fourth after MIT, 
                Stanford and Harvard, according to QS ranking[8]. More than 70 Nobel Prize laureates and 
                other prized specialists worked here at different times.
                 Except for medical specialties, the university does not have quotas for the admission of foreigners.</p>
            <div class="studyfeatures">Tuition Fee
                <p class="studyfeatures-p">£ 30,600</p>
            </div>
            <div class="studyfeatures">International Students
                <p class="studyfeatures-p">42 %</p>
            </div>
            <div class="studyfeatures">Status
                <p class="studyfeatures-p">public</p>
            </div>
        </div>
    </div>
    <div class="row study">
        <div class="col-md-4 unipicsscotland">
        <img src="{% static 'main/pictures/ucl.png' %}" alt="University College London" width="200px" height="180px" >
        </div>
        <div class="col">
            <h3 > <a href="https://www.ucl.ac.uk/">University College London</a> </h3>
            <p>London, England</p>
            <p>At UCL we're proud of our pioneering history, our distinguished present and our 
                exciting future. UCL is a great place to be a student — here are some of the reasons 
                why. We are one of the world's very best universities, consistently placed in the global 
                top 20 in a wide range of world rankings.
                One of the world’s leading universities, UCL is London’s top multidisciplinary research 
                university with an international reputation for the quality of its research and teaching.
                UCL is a multi-disciplinary university, home to centres of teaching excellence in subjects 
                from medicine to languages, law to engineering and history to astrophysics. </p>
            <div class="studyfeatures">Tuition Fee
                <p class="studyfeatures-p">£ 35,100</p>
            </div>
            <div class="studyfeatures">International Students
                <p class="studyfeatures-p">61 %</p>
            </div>
            <div class="studyfeatures">Status
                <p class="studyfeatures-p">public</p>
            </div>
        </div>
    </div>


    <div class="row study">
        <div class="col-md-4 unipicsscotland">
        <img src="{% static 'main/pictures/icl.jpg' %}" alt="Imperial College London" width="240px" height="200px" >
        </div>
        <div class="col">
            <h3 > <a href="https://www.imperial.ac.uk/">Imperial College London</a> </h3>
            <p>London, England</p>
            <p>Imperial College London (legally Imperial College of Science, Technology, and Medicine) 
                is a public research university in London Imperial College established in 1907 by the Royal Charter.

                Imperial is among the top universities in Europe and has a perfect score reputation 
                among academics and graduate employers. Anyone desiring a distinctive and distinguished 
                learning environment for a degree program will definitely find the school a great option. </p>
            <div class="studyfeatures">Tuition Fee
                <p class="studyfeatures-p">£ 29,000</p>
            </div>
            <div class="studyfeatures">International Students
                <p class="studyfeatures-p">61 %</p>
            </div>
            <div class="studyfeatures">Status
                <p class="studyfeatures-p">public</p>
            </div>
        </div>
    </div>
    
    <div class="row study">
        <div class="col-md-4 unipicsscotland">
        <img src="{% static 'main/pictures/manchester.png' %}" alt="The University of Manchester" width="200px" height="190px" >
        </div>
        <div class="col">
            <h3 > <a href="www.manchester.ac.uk">The University of Manchester</a> </h3>
            <p>Manchester, England</p>
            <p>University of Manchester was founded in 1824 as Manchester Mechanics’ Institute 
                which in 2004 became as University of Manchester.
                University of Manchester is a research based public university located at 
                Manchester, England. The university owns and operates major cultural assets 
                which are included in UNESCO World Heritage Site. The motto of the university is 
                “Knowledge, Wisdom, and Humanity”.
                University of Manchester is known for its groundbreaking discoveries and high-quality
                 research with a global impact. It is a well known institution in the world as it ranked 
                 27 by QS ranking and it stands at 8th in Europe and 6th in UK. It is famous for its 
                 courses in technology and research.  </p>
            <div class="studyfeatures">Tuition Fee
                <p class="studyfeatures-p">£ 25,000</p>
            </div>
            <div class="studyfeatures">International Students
                <p class="studyfeatures-p">43 %</p>
            </div>
            <div class="studyfeatures">Status
                <p class="studyfeatures-p">public</p>
            </div>
        </div>
    </div>

    <div class="row study">
        <div class="col-md-4 unipicsscotland">
        <img src="{% static 'main/pictures/kingcollege.png' %}" alt="King's College London" width="270px" height="150px" >
        </div>
        <div class="col">
            <h3 > <a href="https://www.kcl.ac.uk/">King's College London</a> </h3>
            <p>London, England</p>
            <p>Kings College London is a research based public university located in London, England. 
                It is one of the oldest university-level institutions in England. 
                The motto of the university is “With Holiness and Wisdom”.
                Kings College London was founded in 1829 by royal charter under 
                the patronage of King George IV and the Duke of Wellington.
                Kings College London is one of the top universities of London. It is famous for its 
                majors in humanities, law, science and social sciences. It provides one of the best 
                facilities of academics, library and sports to their students. It also ranked 35 in 
                the QS World University Ranking.  </p>
            <div class="studyfeatures">Tuition Fee
                <p class="studyfeatures-p">£ 13,000</p>
            </div>
            <div class="studyfeatures">International Students
                <p class="studyfeatures-p">68 %</p>
            </div>
            <div class="studyfeatures">Status
                <p class="studyfeatures-p">public</p>
            </div>
        </div>
    </div>


    <div class="row study">
        <div class="col-md-4 unipicsscotland">
        <img src="{% static 'main/pictures/bristol.jpg' %}" alt="University of Bristol" width="220px" height="90px" >
        </div>
        <div class="col">
            <h3 > <a href="https://www.bristol.ac.uk/">University of Bristol</a> </h3>
            <p>Bristol, England</p>
            <p>Bristol is one of the most popular and successful 
                universities in the UK, ranked 61st in the world in the QS World University Rankings 2023. Bristol is at the cutting 
                edge of global research. We have made innovations in areas ranging from cot death prevention to nanotechnology. 
                The University was the first higher education institution in the UK to admit men and women on an equal basis.</p>
            <div class="studyfeatures">Tuition Fee
                <p class="studyfeatures-p">£ 21,100</p>
            </div>
            <div class="studyfeatures">International Students
                <p class="studyfeatures-p">29 %</p>
            </div>
            <div class="studyfeatures">Status
                <p class="studyfeatures-p">public</p>
            </div>
        </div>
    </div>

    <div class="row study">
        <div class="col-md-4 unipicsscotland">
        <img src="{% static 'main/pictures/warwick.png' %}" alt="University of Warwick" width="180px" height="230px" >
        </div>
        <div class="col">
            <h3 > <a href="https://warwick.ac.uk/">University of Warwick</a> </h3>
            <p>Coventry, England</p>
            <p>The University of Warwick, based on the outskirts of the city of Coventry, England, first opened its doors in 1965.

                Academically, the university is known also for its commitment to research. 
                Warwick maintains around 30 academic departments, organised into four faculties: 
                Arts, Medicine, Science and Social Science. In support of this, the university has an 
                extensive library boasting more than 13 kilometers' worth of manuscripts. Smaller campuses 
                are also maintained at satellite sites.   
                </p>
            <div class="studyfeatures">Tuition Fee
                <p class="studyfeatures-p">£ 22,280</p>
            </div>
            <div class="studyfeatures">International Students
                <p class="studyfeatures-p">43 %</p>
            </div>
            <div class="studyfeatures">Status
                <p class="studyfeatures-p">public</p>
            </div>
        </div>
    </div>

    <div class="row study">
        <div class="col-md-4 unipicsscotland">
        <img src="{% static 'main/pictures/nottingham.jpg' %}" alt="The University of Nottingham" width="270px" height="210px" >
        </div>
        <div class="col">
            <h3 > <a href="https://www.nottingham.ac.uk/">The University of Nottingham</a> </h3>
            <p>Nottingham, England</p>
            <p>The University of Nottingham - public higher education institution in United Kingdom. 
                The University of Nottingham began its activity in 1881. Thanks to its quite favourable 
                location inside Nottingham, students can enjoy an active city life with a rural serenity. 
                The university is in the top 200 in the quality of education criterion. Thanks to its high 
                educational standards the university graduates are quite popular among employers of United Kingdom and the world. 
                </p>
            <div class="studyfeatures">Tuition Fee
                <p class="studyfeatures-p">£ 23,000</p>
            </div>
            <div class="studyfeatures">International Students
                <p class="studyfeatures-p">30 %</p>
            </div>
            <div class="studyfeatures">Status
                <p class="studyfeatures-p">public</p>
            </div>
        </div>
    </div>

    <div class="row study">
        <div class="col-md-4 unipicsscotland">
        <img src="{% static 'main/pictures/birmingham.jpg' %}" alt="The University of Birmingham" width="290px" height="210px" >
        </div>
        <div class="col">
            <h3 > <a href="https://www.birmingham.ac.uk/">The University of Birmingham</a> </h3>
            <p>Birmingham, England</p>
            <p>The University of Birmingham - public higher education institution in United Kingdom. 
                The University of Birmingham was founded in 1900. The university campus is of urban 
                type and is located in the vicinity of Birmingham.
                Being among the well known universities of United Kingdom The University of Birmingham 
                has no shortage of applicants. Every year the university manages to get into the top 5% 
                of the best world universities. Its expertise lay in the fields of: «Arts and Humanities», 
                «Engineering and Technology», «Life Sciences and Medicine», «Natural Science», «Social Sciences 
                and Management», «Physics», «Computer Science», «Economics & Business». The university is one of 
                the best when it comes to the quality of education, ranking in the top 100 in international rankings. 
                According to surveys the university has a high standing among employers.
                </p>
            <div class="studyfeatures">Tuition Fee
                <p class="studyfeatures-p">£ 22,000</p>
            </div>
            <div class="studyfeatures">International Students
                <p class="studyfeatures-p">33 %</p>
            </div>
            <div class="studyfeatures">Status
                <p class="studyfeatures-p">public</p>
            </div>
        </div>
    </div>
    
    <div class="row study">
        <div class="col-md-4 unipicsscotland">
        <img src="{% static 'main/pictures/sheffield.png' %}" alt="The University of Sheffield" width="300px" height="150px" >
        </div>
        <div class="col">
            <h3 > <a href="https://www.sheffield.ac.uk/">The University of Sheffield</a> </h3>
            <p>Sheffield, England</p>
            <p>University of Sheffield - public higher education institution in United Kingdom. University of Sheffield 
                began its academic activity in1897. The main building of the university is located in Sheffield inside 
                an urban campus.

                Talking about the universities of United Kingdom it is impossible not to mention 
                University of Sheffield which is among the top 20 universities in the country. University of Sheffield 
                Is quite remarkable as it is among the best world universities. 
                The university is in the top 200 in education quality. According to surveys the university 
                has a high standing among employers.
                </p>
            <div class="studyfeatures">Tuition Fee
                <p class="studyfeatures-p">£ 19,100</p>
            </div>
            <div class="studyfeatures">International Students
                <p class="studyfeatures-p">38 %</p>
            </div>
            <div class="studyfeatures">Status
                <p class="studyfeatures-p">public</p>
            </div>
        </div>
    </div>

    <div class="row study">
        <div class="col-md-4 unipicsscotland">
        <img src="{% static 'main/pictures/southampton.jpg' %}" alt="The University of Southampton" width="290px" height="230px" >
        </div>
        <div class="col">
            <h3 > <a href="https://www.southampton.ac.uk/">The University of Southampton</a> </h3>
            <p>Southampton, England</p>
            <p>University of Southampton or Universitas de Sotoniensis (Soton) - public higher education 
                institution in United Kingdom. Soton began its academic activity in1902. Studying at 
                University of Southampton has the advantages of both urban and rural life, in no 
                small part thanks to being inside Southampton.
                University ranking. The prestige of University of Southampton attracts many students 
                to United Kingdom. The university is among the best 5% worldwide, ranking 
                89 in international ratings. 
                The university is considered to be among the best in the quality of education and 
                ranks in the top 200 in that criterion. Thanks to its high educational standards 
                the university graduates are quite popular among employers of United Kingdom and the world.
                </p>
            <div class="studyfeatures">Tuition Fee
                <p class="studyfeatures-p">£ 17,300</p>
            </div>
            <div class="studyfeatures">International Students
                <p class="studyfeatures-p">36 %</p>
            </div>
            <div class="studyfeatures">Status
                <p class="studyfeatures-p">public</p>
            </div>
        </div>
    </div>


</div>


{% endblock %}