{% extends 'main/layout.html' %}
{% load static %}

{% block title %} LivingAbroad {% endblock %}
   
{% block content %}
<div class="title">
    <h1 class = 'title'>
        LiViNg AbRoAd
   </h1>
   
</div>
     <video src="{% static 'main/pictures/Video_project.mp4' %}" autoplay loop playsinline muted> 
    </video> 

    <header class="viewport-header">
        <div class="btn-group">
            <a class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown"  >
              Explore the country
            </a>
            <ul class="dropdown-menu">
              <a href="{% url 'England' %}"><li class="dropdown-item" >ENGLAND</li></a>
              <a href="{% url 'Scotland' %}"><li class="dropdown-item">SCOTLAND</li></a>
              <a href="{% url 'Wales' %}"><li class="dropdown-item">WALES</li></a>
              <a href="{% url 'NorthernIreland' %}"><li class="dropdown-item">NORTHERN IRELAND</li></a>
            </ul>
          </div>
    </header>
      
   {% endblock %}