{% extends 'main/layout.html' %}
{% load static %}
{% block title %}LivingAbroad {% endblock %}

{% block content %}
   <body>
    
    <main>
      <div class="container py-4 uk-main">
        <div class="p-5 mb-4 bg-light rounded-3 back-gb-image">
          <div class="container-fluid py-5 ">
            <h1 class="display-5 fw-bold uk-titles">WELCOME TO GREAT BRITAIN!</h1>
            <p class="col-md-8 fs-4 uk-text">The clue's in the name. Great Britain packs so much greatness into its pint-sized shores: crumbling castles, soaring cathedrals, quaint villages, timeless landscapes and history galore.</p>
          </div>
        </div>
    <div class="firstblock">
        <div class="row align-items-md-stretch">
          <div class="col-md-6">
            <div class="h-100 p-5 text-bg-light rounded-3">
              <h2>WEATHER</h2>
              <p>The UK is often associated with rain, but this is because the weather can be unpredictable. 
                The rain doesn't come all in one season – it can come at any time of year, and on any day. 
                You might experience beautiful sunshine, blustering winds and drizzling rain – all in one afternoon.
                But with the right clothes and the right attitude, you can enjoy the UK, whatever the weather. 
                There is not much better than lazing by the river in the sunshine, dancing in the mud at a music festival, 
                or heading out for a snowball fight.</p>
                <div class="btn-group dropend weather-drop">
                    <details >
                        <summary class="btn btn-secondary btn-light dropdown-toggle"  style="color: red;" >Weather during the year</summary> 
                        <img src="{% static 'main/pictures/weather.png' %}" alt="weather in uk" width=500px height=300px>                      
                      </details>
                </div>
                <div class="btn-group dropend weather-drop">
                  <details >
                    <summary class="btn btn-secondary btn-light dropdown-toggle"  style="color: rgb(15, 15, 190);" > what Brits wear</summary> 
                   <img src="{% static 'main/pictures/wearing.png' %}" alt="weather in uk" width=500px height=450px>>                   
                  </details>
                </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="h-100 p-5 border rounded-3 weather-3">
              <img src="{% static 'main/pictures/weather-2.jpg' %}" alt="weather in Britain" height="400px" width="500px" class="imgweather">
            </div>
          </div>
        </div>
      </div>

        <div class="row align-items-md-stretch">
          <div class="col-md-6 ">           
            <div class="h-100 p-5 border rounded-3 ">
                <div class="ukfood food1"> <img src="{% static 'main/pictures/ukfood1.jpg' %}" alt="british food" height="170px" width="220px" class="imgfood1"> </div>
                <div class="ukfood food2"> <img src="{% static 'main/pictures/ukfood2.jpg' %}" alt="british food" height="170px" width="220px" class="imgfood2"> </div>
                <div class="ukfood food3"> <img src="{% static 'main/pictures/ukfood3.jpg' %}" alt="british food" height="170px" width="220px" class="imgfood3"> </div>
                <div class="ukfood food4"> <img src="{% static 'main/pictures/ukfood4.jpg' %}" alt="british food" height="170px" width="220px" class="imgfood4"> </div>
            </div>
          </div>
          <div class="col-md-6">                         
        <div class="h-100 p-5 text-bg-light rounded-3 text-food">
          <h2>FOOD</h2>
          <p>Food is near the top of the list of things you might miss when away from home. <br>
            But food can be one of the best parts of living in the UK. <br>
            <br>
           <strong>7 traditional British dishes you need to try:</strong>  <br>
           
            <ul>
            <li >Fish and Chips</li>
            <li>Bangers and Mash</li>
            <li>Full English Breakfast</li>
            <li>Sunday Roast</li>
            <li>Toad in the Hole</li>
            <li>Shepherds Pie/Cottage Pie</li>
            <li>Steak and Kidney Pie</li>
          </ul> 
           </p> 
        </div>
      </div>
    </div>



    <div class="thirdblock">
      <div class="row align-items-md-stretch">
        <div class="col-md-6">
          <div class="h-100 p-5 text-bg-light rounded-3">
            <h2>RELIGION</h2>
            <p>The UKs official religion is <i style="color: blue ;"> Christianity</i>, and churches of all denominations can be found 
              throughout the UK, such as <i style="color: blue ;"> Catholic, Protestant, Baptist </i> and <i style="color: blue ;"> Methodist.</i>  The main other 
              religions are <strong>Islam, Hinduism, Sikhism, Judaism and Buddhism.</strong>
              In the larger towns and cities in the UK its easy to find somewhere to practise your 
              faith as well as a community of people there to welcome you, whether that be a <strong>church, mosque, 
              gurdwara, temple or synagogue</strong> . In smaller towns, you may find only Christian churches. 
              Having strong religious communities in the cities also makes it easy to find additional 
              things such as foods that are a key part of your faith.</p>
              
          </div>
        </div>

        <div class="col-md-6">
          <div class="h-100 p-5 border rounded-3 religion">
            <img src="{% static 'main/pictures/religion.jpg' %}" alt="religion in Britain" height="400px" width="500px" class="imgreligion">
          </div>
        </div>
      </div>
    </div>


      <div class="col-md-12 transport">                         
    <div class="h-100 p-5 text-bg-light rounded-3">
      <h2 style="text-align: center;">TRANSPORT</h2>
      <p style="text-align: center ;">Whether you are based in the city or the countryside, or somewhere in between, <br>
        you will be able to travel to most places in the UK quickly and see a lot during your time here. <br>
        The Eurostar, international coaches and great flight connections mean that the whole <br>
        of Europe is also right on your doorstep. <br> </p>

        <hr class="engborder">

        <div class="alltransport">
          <div class="transport-1 trains">
            <h5>Trains</h5>
            <span>The UK has a large train network connecting cities and towns around the country,ex. it takes 
              just over two hours to travel by train from London to Cardiff, and just over four hours from London to Edinburgh. <br>
              You can also get big discounts on train fares if you book in advance or with some 
              group or season tickets. <br>
              <br>
              See <a href="https://www.nationalrail.co.uk/" style="color: blue;"> National Rail </a> for more details.
              <br>
              <br>
            </span>
            
            <img src="{% static 'main/pictures/trains.jpg' %}" alt="trains in Britain" class="imgtransport">
          </div>

          <div class="transport-1 metro">
            <h5>Underground</h5 >
            <span>London, Glasgow, Liverpool and Tyne and Wear all have underground rail 
              Travellers on the London Underground (often referred to as the "Tube") can save money 
              with a top-up <a href="https://oyster.tfl.gov.uk/oyster/entry.do" style="color: blue;">Oyster card</a> . <br>
              Add pay-as-you go credit as and when you need it or buy a 
              weekly, monthly or annual travel card. <br>
              <br>
              You can also get a Student Oyster card, and even add a 16–25 
              Railcard or 26-30 railcard.
            <br>
          <br></span>
              <img src="{% static 'main/pictures/metro.png' %}" alt="metro in Britain" class="imgtransport">
          </div>

          <div class="transport-1 buses">
            <h5>Buses</h5>
            <span> Most UK towns and cities offer regular bus services.
              You can buy a ticket from the driver when you board, use a travel 
              card or Oyster card or use a debit or credit card in some cases. <br>
            <br>
           <a href="https://www.citylink.co.uk/" style="color: blue;">Citylink</a>  is the main coach service provider in Scotland and <a href="https://www.translink.co.uk/" style="color: blue;">Translink</a>  
            in Northern Ireland. If you want to go further afield, <a href="https://www.eurolines.de/en/home/" style="color: blue;">Eurolines</a> , 
            <a href="https://www.flixbus.co.uk/" style="color: blue;">Flix Bus</a> and <a href="https://www.nationalexpress.com/en" style="color: blue;">National Express</a> are usually a cheap and easy way to get anywhere in mainland Europe.
          </span>
              <img src="{% static 'main/pictures/buses.jpg' %}" alt="buses in Britain" class="imgtransport">
          </div>

          <div class="transport-1 cars">
            <h5>Cars and taxis</h5> 
            <span>Taxis are easy to find in all major cities and towns. As in all countries, 
              make sure the taxi you use is safe. Consider booking a cab from a company 
              recommended by your university or college. <br>
            <br>
            It is also becoming more common, and often better value, 
            to book a ride through an app such as Uber or Bolt, depending on where in the UK you live. 
            <br>
            <br>
            <br>
          </span>
              <img src="{% static 'main/pictures/taxi.webp' %}" alt="taxies in Britain" class="imgtransport">
          </div>
        </div>       
        
    </div>
  </div>
</div>

    </div>
    </main>
        
    </body>
      
    {% endblock %}