{% extends 'main/layout.html' %}
{% load static %}

{% block title %} Study in Northern Ireland {% endblock %}

{% block content %}
   
<div class="title">
    <h1 class = 'title uni-title' >
        Top universities in Northern Ireland
   </h1>  
</div>

<div class="container unies ">

    <div class="row study">
        <div class="col-md-4 unipicsscotland">
        <img src="{% static 'main/pictures/belfast.jpg' %}" alt="Queen's University Belfast" width="270px" height="180px" >
        </div>
        <div class="col">
            <h3 > <a href="https://www.qub.ac.uk/">Queen's University Belfast</a> </h3>
            <p>Belfast, Northern Ireland</p>
            <p>Queen's University Belfast (qub) - public higher education institution in United Kingdom. 
                qub began its activity in 1908. Queen's University Belfast has an urban campus in Belfast.

                University ranking. Queen's University Belfast has a well deserved position among the top 
                30 universities of United Kingdom. The university can boast a strong track record, ranking 
                40 in the national ranking of United Kingdom.  The university is famous for its high education quality ranking 
                in the top 300 in the international rating. High academic reputation allows the students to promptly 
                find employment upon graduation. </p>
            <div class="studyfeatures">Tuition Fee
                <p class="studyfeatures-p">£ 17,900</p>
            </div>
            <div class="studyfeatures">International Students
                <p class="studyfeatures-p">38 %</p>
            </div>
            <div class="studyfeatures">Status
                <p class="studyfeatures-p">public</p>
            </div>
        </div>
    </div>


    <div class="row study">
        <div class="col-md-4 unipicsscotland">
        <img src="{% static 'main/pictures/ulster.jpeg' %}" alt="Ulster University" width="290px" height="230px" >
        </div>
        <div class="col">
            <h3 > <a href="https://qa.ulster.ac.uk/">Ulster University</a> </h3>
        </a> </h3>
            <p> Belfast, Coleraine, Derry (Magee College), and Jordanstown; Northern Ireland</p>
            <p>Ulster University is a multi-campus public university located in Northern Ireland. 
                It is often referred to informally and unofficially as Ulster, or by the abbreviation UU.
                It is the largest university in Northern Ireland and the second-largest university on the island 
                of Ireland, after the federal National University of Ireland.

                Established in 1968 as the New University of Ulster, it merged with Ulster Polytechnic in 1984,
                 incorporating its four Northern Irish campuses under the University of Ulster banner. 
                 The university incorporated its four campuses in 1984; located in Belfast, Coleraine, Derry 
                 (Magee College), and Jordanstown. 
                 The university has branch campuses in both London and Birmingham, and an extensive distance 
                 learning provision. The university rebranded as Ulster University from October 2014 and this 
                 included a revised visual identity, though its legal name remained unchanged. </p>
            <div class="studyfeatures">Tuition Fee
                <p class="studyfeatures-p">£ 13,680</p>
            </div>
            <div class="studyfeatures">International Students
                <p class="studyfeatures-p">11 %</p>
            </div>
            <div class="studyfeatures">Status
                <p class="studyfeatures-p">public</p>
            </div>
        </div>
    </div>


    <div class="row study">
        <div class="col-md-4 unipicsscotland">
        <img src="{% static 'main/pictures/dublin.jpeg' %}" alt="The University of Dublin" width="290px" height="230px" >
        </div>
        <div class="col">
            <h3 > <a href="https://www.tcd.ie/">The University of Dublin</a> </h3>
        </a> </h3>
            <p> Dublin, Northern Ireland</p>
            <p>The University of Dublin - public higher education institution in Ireland. 
                TCD began its academic activity in1592. The home of the main campus of TCD is Ireland’s capital - Dublin.

                University ranking. Trinity College Dublin, The University of Dublin is the leading university 
                of Ireland according to the international ratings. Trinity College Dublin, The University of Dublin 
                is among the oldest and the most prestigious universities of Ireland. Trinity College Dublin, 
                The University of Dublin is considered to be one of the most prestigious universities on the planet, 
                securing the place in the top 5% of the world’s best universities. It is famous for: «Arts and Humanities», 
                «Engineering and Technology», «Life Sciences and Medicine», «Natural Science», «Social Sciences and Management». 
                TCD is among the best in terms of education quality, proudly standing in the top 100 in the international 
                rankings according to this criterion.  </p>
            <div class="studyfeatures">Tuition Fee
                <p class="studyfeatures-p">£ 16,000</p>
            </div>
            <div class="studyfeatures">International Students
                <p class="studyfeatures-p">35 %</p>
            </div>
            <div class="studyfeatures">Status
                <p class="studyfeatures-p">public</p>
            </div>
        </div>
    </div>
    

    <div class="row study">
        <div class="col-md-4 unipicsscotland">
        <img src="{% static 'main/pictures/nationalireland.webp' %}" alt="National University of Ireland " width="260px" height="200px" >
        </div>
        <div class="col">
            <h3 > <a href="http://www.nui.ie/">National University of Ireland</a> </h3>
        </a> </h3>
            <p> Dublin, Northern Ireland</p>
            <p>National University of Ireland (NUI) - public higher education institution in Ireland. NUI began 
                its activity in 1908. In the capital of Ireland - Dublin, the main building of the university has 
                its well deserved place. National University of 
                Ireland is a regular among the top universities in the national rankings of Ireland. </p>
            <div class="studyfeatures">Tuition Fee
                <p class="studyfeatures-p">£ 11,700</p>
            </div>
            <div class="studyfeatures">International Students
                <p class="studyfeatures-p">25 %</p>
            </div>
            <div class="studyfeatures">Status
                <p class="studyfeatures-p">public</p>
            </div>
        </div>
    </div>

    <div class="row study">
        <div class="col-md-4 unipicsscotland">
        <img src="{% static 'main/pictures/griffith.jpg' %}" alt="Griffith College Dublin" width="260px" height="200px" >
        </div>
        <div class="col">
            <h3 > <a href="https://www.griffith.ie/">Griffith College Dublin</a> </h3>
        </a> </h3>
            <p> Dublin, Northern Ireland</p>
            <p>Griffith College is one of the two largest, and one of the longest-established private, 
                third level (higher education) colleges in Ireland. The college was established in 1974 by Diarmuid Hegarty 
                and incorporated in 1978 as the Business and Accounting Training (BAT).
                In 2018 the college opened Griffith College City Centre, off Mary Street in Dublin 1. The Dublin city centre facility 
                offers courses such as Professional Accountancy, BAs in Accounting and Finance and also Business, Diplomas 
                in Business Management and 
                Human Resources Management, a Professional Diploma in Management and Leadership, and a Certificate in Applied 
                IT and Office Skills.</p>
            <div class="studyfeatures">Tuition Fee
                <p class="studyfeatures-p">£ 10,500</p>
            </div>
            <div class="studyfeatures">International Students
                <p class="studyfeatures-p">15 %</p>
            </div>
            <div class="studyfeatures">Status
                <p class="studyfeatures-p">private</p>
            </div>
        </div>
    </div>

    <div class="row study">
        <div class="col-md-4 unipicsscotland">
        <img src="{% static 'main/pictures/limerick.jpg' %}" alt="University of Limerick" width="290px" height="190px" >
        </div>
        <div class="col">
            <h3 > <a href="https://www.ul.ie/">University of Limerick</a> </h3>
        </a> </h3>
            <p> Limerick, Northern Ireland</p>
            <p>University of Limerick is one of the largest Irish universities, located in the ancient 
                city of Limerick in the western part of Ireland. It was founded not so long ago — 
                only in 1972, on the initiative of Mayor Ted Russell, the doors of the college opened 
                to local students. The educational institution received the status of a university in 1989. 
                Such a rapid development of the university is largely due to the philanthropist Charles Finn, 
                who invested more than $ 170 million in it. Currently, the university has gained an excellent 
                reputation and is listed among the top ten developing universities.</p>
            <div class="studyfeatures">Tuition Fee
                <p class="studyfeatures-p">£ 10,700</p>
            </div>
            <div class="studyfeatures">International Students
                <p class="studyfeatures-p">12 %</p>
            </div>
            <div class="studyfeatures">Status
                <p class="studyfeatures-p">public</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}