{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Study in Scotland {% endblock %}

{% block content %}
   
<div class="title">
    <h1 class = 'title uni-title' >
        Top universities in Scotland
   </h1>  
</div>

<div class="container unies ">
    <div class="row study">
        <div class="col-md-4 unipicsscotland">
        <img src="{% static 'main/pictures/scotlanduni1.png' %}" alt="University of Edinburgh" width="200px" height="200px" >
        </div>
        <div class="col">
            <h3 > <a href="https://www.ed.ac.uk/">University of Edinburgh</a> </h3>
            <p>Edinburgh, Scotland</p>
            <p>Ranked first among the top universities in Scotland at 20th in the world is the University of Edinburgh, 
                the sixth-oldest university in the English-speaking world and a part of Scotland’s capital city since 1583.

                The “old town”, where the university is based, is frozen in time with its preserved medieval street plan 
                and reformation-era buildings. The University of Edinburgh plays a distinct role in the city’s status as 
                both a hub of knowledge and a vibrant cultural center which nurtures fringe theater and comedy. 
                This artistic streak then feeds into the famous Edinburgh Fringe Festival, which is held every August. </p>
            <div class="studyfeatures">Tuition Fee
                <p class="studyfeatures-p">£ 23,100</p>
            </div>
            <div class="studyfeatures">International Students
                <p class="studyfeatures-p">45 %</p>
            </div>
            <div class="studyfeatures">Status
                <p class="studyfeatures-p">public</p>
            </div>
        </div>
    </div>
    <div class="row study">
        <div class="col-md-4 unipicsscotland">
        <img src="{% static 'main/pictures/glasgow.png' %}" alt="University of Glasgow" width="200px" height="100px" >
        </div>
        <div class="col">
            <h3 > <a href="https://www.gla.ac.uk/">University of Glasgow</a> </h3>
            <p>Glasgow, Scotland</p>
            <p>Home to Scotland’s oldest public museum and the largest Scottish university by student population, 
                the University of Glasgow is also the fourth-oldest university in the English-speaking world, having been 
                established in 1451.
                Ranked joint 77th in the world, the University of Glasgow is located in the Hillhead neighborhood in Glasgow’s 
                West End, an area known for fashion and cultural diversity. The city’s Victorian architecture is now modishly 
                outfitted with trendy but down-to-earth bars and clubs which appeal 
                to the Glaswegian sense of fun, allowing it to compete with Edinburgh for the title of Scotland’s cultural capital. </p>
            <div class="studyfeatures">Tuition Fee
                <p class="studyfeatures-p">£ 16,790</p>
            </div>
            <div class="studyfeatures">International Students
                <p class="studyfeatures-p">39 %</p>
            </div>
            <div class="studyfeatures">Status
                <p class="studyfeatures-p">public</p>
            </div>
        </div>
    </div>
    <div class="row study">
        <div class="col-md-4 unipicsscotland">
        <img src="{% static 'main/pictures/standrew.jpg' %}" alt="University of St Andrews" width="120px" height="200px" >
        </div>
        <div class="col">
            <h3 > <a href="https://www.st-andrews.ac.uk/">University of St. Andrews</a> </h3>
            <p>St. Andrews, Scotland</p>
            <p>Home to around 9,224 students, the University of St Andrews was founded in 1410, making it the oldest
                 of the four “ancient universities of Scotland”. It’s ranked 96th in the world in 2021 and 17th among 
                 the top universities in the UK.

                A small university town in rural Fife on Scotland’s east coast, St Andrews is famous for its golf course 
                as well as its university, where more than a third of the town’s population either study or work. With the 
                university playing 
                such a central role in local life, the community atmosphere here is hard to beat. </p>
            <div class="studyfeatures">Tuition Fee
                <p class="studyfeatures-p">£ 23,673</p>
            </div>
            <div class="studyfeatures">International Students
                <p class="studyfeatures-p">46 %</p>
            </div>
            <div class="studyfeatures">Status
                <p class="studyfeatures-p">public</p>
            </div>
        </div>
    </div>
    <div class="row study">
        <div class="col-md-4 unipicsscotland">
        <img src="{% static 'main/pictures/aberden.jpg' %}" alt="University of Aberdeen" width="120px" height="170px" >
        </div>
        <div class="col">
            <h3 > <a href="https://www.abdn.ac.uk/">University of Aberdeen</a> </h3>
            <p>Aberdeen, Scotland</p>
            <p>The University of Aberdeen is ranked 207th in the world in the QS World University Rankings this year, and claims 
                a long history, dating back to 1495.
                Aberdeen is one of the most cost-effective cities for students and offers a wealth of experiences and attractions 
                in return – including many that are free to enjoy, such as the Aberdeen Art Gallery and the Maritime Museum. 
                The University of Aberdeen’s main King’s College campus is located two miles north of the city center in the Old 
                Aberdeen district, and boasts an 11-acre botanical garden and a £57 million state-of-the-art library which opened in 2012.</p>
            <div class="studyfeatures">Tuition Fee
                <p class="studyfeatures-p">£ 15,300</p>
            </div>
            <div class="studyfeatures">International Students
                <p class="studyfeatures-p">44 %</p>
            </div>
            <div class="studyfeatures">Status
                <p class="studyfeatures-p">public</p>
            </div>
        </div>
    </div>
    <div class="row study">
        <div class="col-md-4 unipicsscotland">
        <img src="{% static 'main/pictures/strathclyde.webp' %}" alt="University of Strathclyde" width="240px" height="120px" >
        </div>
        <div class="col">
            <h3 > <a href="https://www.strath.ac.uk/">University of Strathclyde</a> </h3>
            <p>Glasgow, Scotland</p>
            <p>Scotland’s third-largest university in terms of student population 
                (with around 15,600 undergraduates alone), the University of Strathclyde is based in the city of Glasgow.
                Founded in 1796 and ranked 300th in the world, the University of Strathclyde is known for its innovative and 
                entrepreneurial ethos. 
                The university now boasts a Technology and Innovation Center, which “revolutionizes the way researchers in academia                 and industry 
                collaborate and innovate together” and is expected to boost both employment and investment opportunities in Glasgow.</p>
            <div class="studyfeatures">Tuition Fee
                <p class="studyfeatures-p">£ 14,000</p>
            </div>
            <div class="studyfeatures">International Students
                <p class="studyfeatures-p">27 %</p>
            </div>
            <div class="studyfeatures">Status
                <p class="studyfeatures-p">public</p>
            </div>
        </div>
    </div>
    <div class="row study">
        <div class="col-md-4 unipicsscotland">
        <img src="{% static 'main/pictures/heriot.png' %}" alt="Heriot-Watt University" width="200px" height="100px" >
        </div>
        <div class="col">
            <h3 > <a href="https://www.hw.ac.uk/">Heriot-Watt University</a> </h3>
            <p>Edinburgh, Scotland</p>
            <p>Established in 1821 and located in the Scottish capital Edinburgh, Heriot-Watt University 
                is ranked joint 301st in the world. Once located solely in the city center, the university 
                completed its move to the leafy suburb of Riccarton, approximately six miles from the city center, in the 1990s.
                The new campus is situated on 380 acres of parkland and boasts some of the best sports facilities 
                in the region. Heriot-Watt has a large population of international students, with 34 percent of its 
                9,615 students on its UK campuses coming from abroad.             
                </p>
            <div class="studyfeatures">Tuition Fee
                <p class="studyfeatures-p">£ 20,000</p>
            </div>
            <div class="studyfeatures">International Students
                <p class="studyfeatures-p">36 %</p>
            </div>
            <div class="studyfeatures">Status
                <p class="studyfeatures-p">public</p>
            </div>
        </div>
    </div>
    <div class="row study">
        <div class="col-md-4 unipicsscotland">
        <img src="{% static 'main/pictures/dundee.png' %}" alt="University of Dundee" width="200px" height="80px" >
        </div>
        <div class="col">
            <h3 > <a href="https://www.dundee.ac.uk/">University of Dundee</a> </h3>
            <p>Dundee, Scotland</p>
            <p>Ranked 319th in the world in 2021, the University of Dundee claims to have the friendliest 
                campus in Scotland and is situated right in the heart of Dundee city center. Many of the 
                university’s facilities are highly modern, thanks to a recent £200 million redevelopment program.
                Located on the east coast of the central lowlands of Scotland, Dundee’s industrial expansion 
                in the 19th century led to it becoming known as the city of “jute, jam and journalism”. You may 
                be interested to learn Dundee is known as the sunniest city in Scotland and has the mildest climate 
                in the region.            
                </p>
            <div class="studyfeatures">Tuition Fee
                <p class="studyfeatures-p">£ 19,500</p>
            </div>
            <div class="studyfeatures">International Students
                <p class="studyfeatures-p">23 %</p>
            </div>
            <div class="studyfeatures">Status
                <p class="studyfeatures-p">public</p>
            </div>
        </div>
    </div>
    <div class="row study">
        <div class="col-md-4 unipicsscotland">
        <img src="{% static 'main/pictures/stirling.jpg' %}" alt="University of Stirling" width="200px" height="65px" >
        </div>
        <div class="col">
            <h3 > <a href="https://www.dundee.ac.uk/">University of Stirling</a> </h3>
            <p>Stirling, Scotland</p>
            <p>One of the younger institutions to make our list of top universities in Scotland, 
                the University of Stirling was founded in 1967 by Royal Charter. Ranked joint 485th 
                in the world, the university is situated just two miles outside of Stirling city center, 
                where Stirling Castle sits atop the plug of an extinct volcano, presenting an extraordinary 
                view from both above and below.
                The city itself surrounds the castle, with the high ground known for its preserved 
                Victorian Gothic architecture and the lower ground offering modernity and commercialism 
                in a city that combines the best of old and new. Stirling was also rated the most affordable 
                city in the UK in 2019.           
                </p>
            <div class="studyfeatures">Tuition Fee
                <p class="studyfeatures-p">£ 16,400</p>
            </div>
            <div class="studyfeatures">International Students
                <p class="studyfeatures-p">26 %</p>
            </div>
            <div class="studyfeatures">Status
                <p class="studyfeatures-p">public</p>
            </div>
        </div>
    </div>
</div>


{% endblock %}