{% extends 'main/layout.html' %}
{% load static %}

{% block title %}

Shops in UK

{% endblock %}

{% block content %}
   
<div class="title">
    <h1 class = 'title uni-title' >
        Shopping in UK
   </h1>  
</div>

<div class="title stores-title menu">
    <h5 class="title-stores" > <a href="#groceries">GROCERIES</a>
        
   </h5>  
</div>
<div class="title stores-title menu">
    <h5 class="title-stores" > <a href="#healthbeauty">HEALTH & BEAUTY</a>
        
   </h5>  
</div>
<div class="title stores-title menu">
    <h5 class="title-stores" > <a href="#homegarden">HOME & GARDEN</a>
        
   </h5>  
</div>

<div class="title stores-title menu">
    <h5 class="title-stores" > <a href="#electronics">ELECTRONICS & MEDIA</a>  
        
   </h5>  
</div>


<hr class="storesborder">
<div class="title stores-title" id="groceries">
    <h3 class="title-stores" > 
        GROCERIES
   </h3>  
</div>

<div class="container stores">
    <div class="row ">
        <div class="col-md-2 block-shops">
            <a href="https://www.tesco.com/"><img src="{% static 'main/pictures/tesco.png' %}" alt="tesco" class="shops-block" width="200px" height="50px"></a>
        </div>           
        <div class="col-md-2 block-shops">
            <a href="https://www.sainsburys.co.uk/"><img src="{% static 'main/pictures/sainsburies.png' %}" alt="sainsburies" class="shops-block" width="200px" height="50px" ></a>
        </div> 
        <div class="col-md-2 block-shops block-coop">
            <a href="https://www.coop.co.uk/"><img src="{% static 'main/pictures/coop.png' %}" alt="coop" class="shops-block" width="50px" height="50px"></a>
        </div>  
        <div class="col-md-2 block-shops ">
            <a href="https://www.waitrose.com/"><img src="{% static 'main/pictures/waitrose.png' %}" alt="waitrose" class="shops-block " width="150px" height="50px"></a>
        </div>
        <div class="col-md-2 ">
            <a href="https://groceries.morrisons.com/webshop/startWebshop.do"><img src="{% static 'main/pictures/morrison.png' %}" alt="morrisons" class="shops-block" width="150px" height="50px"></a>
        </div>
    </div>
    <div class="row groceries-2">
        <div class="col-md-2 block-shops">
            <a href="https://www.aldi.co.uk/"><img src="{% static 'main/pictures/aldi.webp' %}" alt="aldi" class="shops-block" width="100px" height="100px"></a>
        </div>           
        <div class="col-md-2 block-shops">
            <a href="https://www.iceland.co.uk/"><img src="{% static 'main/pictures/iceland.jpg' %}" alt="iceland" class="shops-block" width="150px" height="50px" ></a>
        </div> 
        <div class="col-md-2 block-shops block-coop">
            <a href="https://www.lidl.co.uk/"><img src="{% static 'main/pictures/lidl.png' %}" alt="lidl" class="shops-block" width="100px" height="100px"></a>
        </div>  
        <div class="col-md-2 block-shops ">
            <a href="https://www.marksandspencer.com/"><img src="{% static 'main/pictures/marksandspencer.png' %}" alt="marksandspencer" class="shops-block " width="150px" height="100px"></a>
        </div>
        <div class="col-md-2 ">
            <a href="https://www.wholefoodsmarket.co.uk/"><img src="{% static 'main/pictures/wholefoodsmarket.png' %}" alt="wholefoodsmarket" class="shops-block" width="100px" height="100px"></a>
        </div>
    </div>
    <div class="row groceries-2">
        <div class="col-md-2 block-shops">
            <a href="https://groceries.asda.com/"><img src="{% static 'main/pictures/asda.png' %}" alt="asda" class="shops-block" width="150px" height="70px"></a>
        </div>           
        <div class="col-md-2 block-shops">
            <a href="https://www.ocado.com/webshop/startWebshop.do"><img src="{% static 'main/pictures/ocado.png' %}" alt="webshop" class="shops-block" width="150px" height="50px" ></a>
        </div> 
        <div class="col-md-2 block-shops ">
            <a href="https://www.hellofresh.co.uk/"><img src="{% static 'main/pictures/hellofresh.png' %}" alt="hellofresh" class="shops-block " width="150px" height="100px"></a>
        </div>
        <div class="col-md-2 ">
            <a href="https://www.gousto.co.uk/"><img src="{% static 'main/pictures/goustu.png' %}" alt="gousto" class="shops-block" width="100px" height="100px"></a>
        </div>
    </div>
</div>

<hr class="storesborder">

<div class="title stores-title" id="healthbeauty">
    <h3 class="title-stores" >
        HEALTH & BEAUTY
   </h3>  
</div>

<div class="container stores" >
    <div class="row ">
        <div class="col-md-2 block-shops">
            <a href="https://www.boots.com/"><img src="{% static 'main/pictures/boots.png' %}" alt="boots" class="shops-block" width="150px" height="50px"></a>
        </div>           
        <div class="col-md-2 block-shops">
            <a href="https://www.superdrug.com/"><img src="{% static 'main/pictures/superdrug.png' %}" alt="superdrug" class="shops-block" width="150px" height="80px" ></a>
        </div> 
        <div class="col-md-2 block-shops block-coop">
            <a href="https://www.lookfantastic.com/"><img src="{% static 'main/pictures/lookfantastic.png' %}" alt="lookfantastic" class="shops-block" width="200px" height="60px"></a>
        </div>  
        <div class="col-md-2 block-shops ">
            <a href="https://www.allbeauty.com/"><img src="{% static 'main/pictures/allbeauty.png' %}" alt="allbeauty" class="shops-block " width="150px" height="90px"></a>
        </div>
        <div class="col-md-2 ">
            <a href="https://www.theperfumeshop.com/"><img src="{% static 'main/pictures/theperfumeshop.png' %}" alt="theperfumeshop" class="shops-block" width="200px" height="50px"></a>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-2 block-shops">
            <a href="https://www.walgreens.com/"><img src="{% static 'main/pictures/walgreens.png' %}" alt="walgreens" class="shops-block" width="150px" height="70px"></a>
        </div>           
        <div class="col-md-2 block-shops">
            <a href="https://www.caremark.com/"><img src="{% static 'main/pictures/caremark.jpg' %}" alt="caremark" class="shops-block" width="140px" height="80px" ></a>
        </div> 
        <div class="col-md-2 block-shops block-coop">
            <a href="https://www.riteaid.com/"><img src="{% static 'main/pictures/riteaid.png' %}" alt="riteaid" class="shops-block" width="160px" height="60px"></a>
        </div>  
        <div class="col-md-2 block-shops ">
            <a href="https://www.healthmart.com/"><img src="{% static 'main/pictures/healthmart.png' %}" alt="healthmart" class="shops-block " width="200px" height="70px"></a>
        </div>
        <div class="col-md-2 ">
            <a href="https://www.mckesson.com/"><img src="{% static 'main/pictures/mckesson.png' %}" alt="mckesson" class="shops-block" width="200px" height="70px"></a>
        </div>
    </div>
</div>


    <hr class="storesborder">

    <div class="title stores-title" id="homegarden">
        <h3 class="title-stores" >
            HOME & GARDEN
       </h3>  
    </div>
    
    <div class="container stores">
        <div class="row ">
            <div class="col-md-2 block-shops">
                <a href="https://www.dunelm.com/"><img src="{% static 'main/pictures/dunelm.png' %}" alt="dunelm" class="shops-block" width="100px" height="100px"></a>
            </div>           
            <div class="col-md-2 block-shops">
                <a href="https://www.superdrug.com/"><img src="{% static 'main/pictures/gordale.png' %}" alt="superdrug" class="shops-block" width="130px" height="120px" ></a>
            </div> 
            <div class="col-md-2 block-shops block-coop">
                <a href="https://www.wayfair.co.uk/?cjevent=4d294ceb1c8c11ed827802b70a180514&refID=CJUK4874834&PID=8253920"><img src="{% static 'main/pictures/wayfair.jpg' %}" alt="wayfair" class="shops-block" width="120px" height="80px"></a>
            </div>  
            <div class="col-md-2 block-shops ">
                <a href="https://www.debenhams.com/"><img src="{% static 'main/pictures/debenhams.png' %}" alt="debenhams" class="shops-block " width="130px" height="70px"></a>
            </div>
            <div class="col-md-2 ">
                <a href="https://www.diy.com/"><img src="{% static 'main/pictures/diy.jpg' %}" alt="diy" class="shops-block" width="90px" height="100px"></a>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-2 block-shops">
                <a href="https://www.choicefurnituresuperstore.co.uk/"><img src="{% static 'main/pictures/cfs.png' %}" alt="cfs" class="shops-block" width="120px" height="100px"></a>
            </div>           
            <div class="col-md-2 block-shops">
                <a href="https://www.wickes.co.uk/"><img src="{% static 'main/pictures/wickes.png' %}" alt="wickes" class="shops-block" width="130px" height="100px" ></a>
            </div> 
            <div class="col-md-2 block-shops block-coop">
                <a href="https://www.allmodern.com/"><img src="{% static 'main/pictures/allmodern.webp' %}" alt="allmodern" class="shops-block " width="200px" height="80px"></a>
            </div>  
            <div class="col-md-2 block-shops ">
                <a href="https://scandinaviandesigns.com/"><img src="{% static 'main/pictures/scandinaviandesigns.png' %}" alt="scandinaviandesigns" class="shops-block scand " width="140px" height="50px"></a>
            </div>
            <div class="col-md-2 ">
                <a href="https://www.overstock.com/"><img src="{% static 'main/pictures/overstock.png' %}" alt="overstock" class="shops-block" width="120px" height="120px"></a>
            </div>
        </div> 
    </div>    
    


    <hr class="storesborder">

    <div class="title stores-title" id="electronics">
        <h3 class="title-stores" >
            ELECTRONICS & MEDIA
       </h3>  
    </div>
    
    <div class="container stores">
        <div class="row ">
            <div class="col-md-2 block-shops">
                <a href="https://www.very.co.uk/"><img src="{% static 'main/pictures/very.jpg' %}" alt="very" class="shops-block" width="100px" height="100px"></a>
            </div>           
            <div class="col-md-2 block-shops">
                <a href="https://www.amazon.co.uk/"><img src="{% static 'main/pictures/amazon.jpg' %}" alt="amazon" class="shops-block" width="200px" height="120px" ></a>
            </div> 
            <div class="col-md-2 block-shops block-coop">
                <a href="https://www.littlewoods.com/electricals/e/b/4739.end"><img src="{% static 'main/pictures/littlewoods.webp' %}" alt="littlewoods" class="shops-block" width="200px" height="90px"></a>
            </div>  
            <div class="col-md-2 block-shops ">
                <a href="https://www.johnlewis.com/electricals/c500001"><img src="{% static 'main/pictures/johnlewis.png' %}" alt="johnlewis" class="shops-block scand " width="140px" height="80px"></a>
            </div>
            <div class="col-md-2 ">
                <a href="https://www.currys.co.uk/"><img src="{% static 'main/pictures/currys.png' %}" alt="currys" class="shops-block" width="80px" height="80px"></a>
            </div>
        </div>
    </div> 




{% endblock %}