{% extends 'main/layout.html' %}
{% load static %}

{% block title %} Study in Wales {% endblock %}
    
{% block content %}
   
<div class="title">
    <h1 class = 'title uni-title' >
        Top universities in Wales
   </h1>  
</div>

<div class="container unies ">
    <div class="row study">
        <div class="col-md-4 unipicsscotland">
        <img src="{% static 'main/pictures/aberystwyth.jpg' %}" alt="Aberystwyth University" width="290px" height="200px" >
        </div>
        <div class="col">
            <h3 > <a href="https://www.aber.ac.uk/">Aberystwyth University</a> </h3>
            <p>Aberystwyth, Wales</p>
            <p>Aberystwyth University also known as Prifysgol Aberystwyth is a British public 
                higher education establishment located in Aberystwyth, Wales. The university was established 
                as University College Wales, Aberystwyth in 1872 and was one of the founding member of University 
                of Wales in 1894. It changed its name to University of Wales, Aberystwyth in the 1990s and became 
                independent henceforth adopting its present name in 2007 after the University of Wales ceased to exist. 
                It currently enrols over 8000 students.  </p>
            <div class="studyfeatures">Tuition Fee
                <p class="studyfeatures-p">£ 15,200</p>
            </div>
            <div class="studyfeatures">International Students
                <p class="studyfeatures-p">22 %</p>
            </div>
            <div class="studyfeatures">Status
                <p class="studyfeatures-p">public</p>
            </div>
        </div>
    </div>
    <div class="row study">
        <div class="col-md-4 unipicsscotland">
        <img src="{% static 'main/pictures/bangor.jpg' %}" alt="Bangor University" width="290px" height="200px" >
        </div>
        <div class="col">
            <h3 > <a href="https://www.bangor.ac.uk/">Bangor University</a> </h3>
            <p>Bangor, Wales</p>
            <p>Bangor University is a public university in Bangor, Wales. 
                It received its Royal Charter in 1885 and was one of the founding 
                institutions of the federal University of Wales. 
                The university was founded as the University College of North Wales (UCNW) 
                on 18 October 1884, with an inaugural address by the Earl of Powis, 
                the college's first President, in Penrhyn Hall. </p>
            <div class="studyfeatures">Tuition Fee
                <p class="studyfeatures-p">£ 15,250</p>
            </div>
            <div class="studyfeatures">International Students
                <p class="studyfeatures-p">24 %</p>
            </div>
            <div class="studyfeatures">Status
                <p class="studyfeatures-p">public</p>
            </div>
        </div>
    </div>

    <div class="row study">
        <div class="col-md-4 unipicsscotland">
        <img src="{% static 'main/pictures/cardiff.jpeg' %}" alt="Cardiff Metropolitan University" width="290px" height="160px" >
        </div>
        <div class="col">
            <h3 > <a href="https://www.cardiffmet.ac.uk/">Cardiff Metropolitan University</a> </h3>
            <p>Cardiff, Wales</p>
            <p>The history of Cardiff Metropolitan University dates back to 1865, when the School 
                of the Arts first opened at Cardiff's free library. After receiving university status, 
                the university remains an important educational center for Wales and at the same time 
                provides a practical and professionally oriented education for students from all over 
                the world. Cardiff is committed to education, research, innovation, undertaken in partnership 
                with students, government, business, industry and delivering tangible benefits to people, 
                society and the economy. The University strives for each student to develop their potential, 
                to make an outstanding contribution to the development of their own and future generations.</p>
            <div class="studyfeatures">Tuition Fee
                <p class="studyfeatures-p">£ 14,500</p>
            </div>
            <div class="studyfeatures">International Students
                <p class="studyfeatures-p">20 %</p>
            </div>
            <div class="studyfeatures">Status
                <p class="studyfeatures-p">public</p>
            </div>
        </div>
    </div>

    <div class="row study">
        <div class="col-md-4 unipicsscotland">
        <img src="{% static 'main/pictures/cardiffuni.png' %}" alt="Cardiff University" width="290px" height="150px" >
        </div>
        <div class="col">
            <h3 > <a href="https://www.cardiff.ac.uk/">Cardiff University</a> </h3>
            <p>Cardiff, Wales</p>
            <p>Cardiff University or Prifysgol Caerdydd (CU) - public higher education institution in United Kingdom. 
                CU began its academic activity in1883. It has an urban campus located in Cardiff.

                University ranking. Cardiff University has garnered a reputation of a strong educational institution 
                as it is among the top 20 universities of United Kingdom. Cardiff University Is quite remarkable as it 
                is among the best world universities. 
                Ranked 15 in the UK and top 1.5% in the world, Cardiff University is recognised in independent government
                 assessments as one of Britain's leading teaching and research universities. Founded in 1883, the University's 
                 expertise in research-led teaching encompasses: the humanities; the natural, physical, health, life and social 
                 sciences; engineering and technology and vocational courses.</p>
            <div class="studyfeatures">Tuition Fee
                <p class="studyfeatures-p">£ 17,950</p>
            </div>
            <div class="studyfeatures">International Students
                <p class="studyfeatures-p">29 %</p>
            </div>
            <div class="studyfeatures">Status
                <p class="studyfeatures-p">public</p>
            </div>
        </div>
    </div>

    <div class="row study">
        <div class="col-md-4 unipicsscotland">
        <img src="{% static 'main/pictures/uniwales.jpg' %}" alt="The University of Wales" width="290px" height="150px" >
        </div>
        <div class="col">
            <h3 > <a href="https://www.wales.ac.uk/en/Home.aspx">The University of Wales</a> </h3>
            <p>Cardiff, Wales</p>
            <p>The University of Wales was founded in 1893 and it is known as a degree-awarding 
                body for higher education students at its accredited and affiliated institutions across 
                Wales as well as over 100 collaborative centres offering validated provision in 30 countries.</p>
            <div class="studyfeatures">Tuition Fee
                <p class="studyfeatures-p">£ 16,550</p>
            </div>
            <div class="studyfeatures">International Students
                <p class="studyfeatures-p">19 %</p>
            </div>
            <div class="studyfeatures">Status
                <p class="studyfeatures-p">public</p>
            </div>
        </div>
    </div>
    

    <div class="row study">
        <div class="col-md-4 unipicsscotland">
        <img src="{% static 'main/pictures/triniti.jpg' %}" alt="University of Wales Trinity Saint David (UWTSD)" width="360px" height="200px" >
        </div>
        <div class="col">
            <h3 > <a href="https://www.uwtsd.ac.uk/">University of Wales Trinity Saint David (UWTSD)</a> </h3>
            <p>Cardiff, Wales</p>
            <p>The University of Wales Trinity Saint David is a multi-campus public University. 
                It has various affiliations from many institutions including the University of Wales, 
                Universities UK, and Cathedrals Group. There are more than 12,000 students enrolled in the 
                different programs of the University of which more than 10,000 are undergraduates and 2,000 plus are postgraduates.
                University of Wales Trinity Saint David was established in July 2010. It is formed by the merger of Trinity University College, 
                and the University of Wales, Lampeter. Prince of Wales is the patron of the University. </p>
            <div class="studyfeatures">Tuition Fee
                <p class="studyfeatures-p">£ 13,000</p>
            </div>
            <div class="studyfeatures">International Students
                <p class="studyfeatures-p">5 %</p>
            </div>
            <div class="studyfeatures">Status
                <p class="studyfeatures-p">public</p>
            </div>
        </div>
    </div>

    <div class="row study">
        <div class="col-md-4 unipicsscotland">
        <img src="{% static 'main/pictures/wrexham.png' %}" alt="Wrexham Glyndŵr University" width="260px" height="120px" >
        </div>
        <div class="col">
            <h3 > <a href="http://www.glyndwr.ac.uk/">Wrexham Glyndwr University</a> </h3>
            <p>Wrexham, Wales</p>
            <p>Glyndwr University or Glyndŵr University; Wrexham Glyndŵr University (GU) - 
                public higher education institution in United Kingdom. GU began its activity in 1887. 
                The university has an urban campus in Wrexham.
                Glyndwr University is average in terms of student capacity, teaching the maximum of 7 thousand students. 
                The admission committee accepts the applications from foreign citizens. The academic staff consists of 399 specialists.  </p>
            <div class="studyfeatures">Tuition Fee
                <p class="studyfeatures-p">£ 12,500</p>
            </div>
            <div class="studyfeatures">International Students
                <p class="studyfeatures-p">3 %</p>
            </div>
            <div class="studyfeatures">Status
                <p class="studyfeatures-p">public</p>
            </div>
        </div>
    </div>
</div>


{% endblock %}