{% extends 'vacancies/layout.html' %}
{% load static %}




{% block title %}Vacancies of Wales {% endblock %}

{% block content %}
    
<h2 class="jobstitle"> Jobs in Wales</h2>

<div class="searchfield">
    <form method="GET" >
        <div class="input-field">
            <input class="textfield" type="text" name="q" value="{{ request.GET.q }}" placeholder="Search Here...">
           <button class="btn" type="submit" name="action">Search</button>
        </div>
    </form>
</div>



    
    {% for el in vacancies_wales %}

    <div class="container vacancies">
        <div class="row titlevacancies">
            <h2 class = "titlevacancy" ><a  href="{{ el.link }}">{{ el.title }} </a></h2></div>
        <div class="row">
            <p ><a class = "titlecompany" href="{{ el.link_company }}"> {{ el.name_company }}</a></p>
        </div>
        <div class="row"> <h6 class="salaryrow">{{ el.salary }} </h6> </div>
        <div class="row"> <span class="locationrow">Location</span> </div>
        <div class="row"> <h6 class="locationrow"> {{ el.location }} </h6> </div>
        <div class="row">  <p class="description"><a href="{{ el.link }}">{{ el.description}}</a></p> </div>
         </div>
    {% endfor %}


    
        {% if vacancies_wales.has_other_pages %}
        <div class="pagiantion">
        <ul class="pagination">
            {% if vacancies_wales.has_previous %}
        <li class="page-item" >
            <a class="page-link" href="?page={{ vacancies_wales.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Previous</a>
        </li>
        {% else %}
        <li class="page-item disabled" ><a class="page-link" href="#!">Previous</a></li>
            {% endif %}
    
            {% if vacancies_wales.has_next %}
            <li class="page-item">
            <a class="page-link" href="?page={{ vacancies_wales.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Next</a>
            </li>
            {% else %}
            <li class="page-item disabled"><a class="page-link" href="#!">Next</a></li>
            {% endif %}
        </ul>
    
        {% endif %}
        


{% endblock %}



