{% extends 'rent/layout.html' %}
{% load static %}

{% block title %}Rent in Wales{% endblock %}

{% block content %}
    
<h2 class="jobstitle"> Rent in Wales</h2>

<div class="searchfield">
    <form method="GET" >
        <div class="input-field">
            <input class="textfield" type="text" name="q" value="{{ request.GET.q }}" placeholder="Search for rent here...">
           <button class="btn" type="submit" name="action">Search</button>
        </div>
    </form>
</div>
    
    {% for el in wales_rent %}

        <div class="container flats"> 
            <div class="row"><h2 class="titlerent"><a href="{{ el.link }}">{{ el.title }}</a></h2></div>
            <div class="row">
                <div class="col-2">
                    <a href="{{ el.link }}"><img class = "imgflat" src="{{ el.img }}"></a>
                </div>
                <div class="col-9"><p><a href="{{ el.link }}">{{ el.description }}</a></p></div>
            </div>
        
            <div class="row">
                <div class="col-2"></div>
                <div class="col-3 price">{{ el.price }}</div>
                <div class="col-7 location"><span >Location: </span> <span class="location2">{{ el.location }}</span></div>
            </div>                     
        </div>       
    
    {% endfor %}

    {% if wales_rent.has_other_pages %}
    <div class="pagiantion">
    <ul class="pagination">
        {% if wales_rent.has_previous %}
    <li class="page-item" >
        <a class="page-link" href="?page={{ wales_rent.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Previous</a>
    </li>
    {% else %}
    <li class="page-item disabled" ><a class="page-link" href="#!">Previous</a></li>
        {% endif %}

        {% if wales_rent.has_next %}
        <li class="page-item">
        <a class="page-link" href="?page={{ wales_rent.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Next</a>
        </li>
        {% else %}
        <li class="page-item disabled"><a class="page-link" href="#!">Next</a></li>
        {% endif %}
    </ul>

    {% endif %}    
            
         
{% endblock %}